.error {
    border: 1px #ff0000 solid;
}

input[type='file'] {
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-size: .75rem;
    line-height: inherit;
}

/*START NAV*/

nav img.companyLogo {
    max-width: 75px;
}

#navLinkTarget {
    margin-left: 3.5rem;
}

nav img {
    width: 85px;
    height: auto;
    cursor: pointer;
    margin-left: -14px;
    margin-top: -28px;
    position: absolute;
    z-index: 9;
}

/*
#cognitiveDistortion {
    max-height: 185px;
    overflow-y: auto;
}

@media (max-width: 1024px) {
    #cognitiveDistortion {
        max-height: inherit;
        overflow-y: inherit;
    }
}*/